body {
  margin:0;
  padding:40px;
  font-family: 'Basetica-Regular';
  line-height: 1.5em;
}

p {
  color: #555;
}

video {
  max-width: 800px;
  width: 70%;
}

.screenshot {
  max-width: 800px;
  width: 50%;
}

ul#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul#nav div {
  margin: 3px 43%;
  background-color: #e7e5e1;
  width: 14%;
}

#mouse-create-logo {
  width: 50%;
  margin: 10px 25%;
}

h1#site-title {
  width: 50%;
  margin: 10px 25%;
  text-align: center;
}
