body {
  margin:0;
  padding:40px;
  font-family: 'Basetica-Regular';
  line-height: 1.5em;
}

p {
  color: #555;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul a {
  color: #19a786;
  text-decoration: none;
}


video {
  max-width: 800px;
  width: 70%;
}

.screenshot {
  max-width: 800px;
  width: 50%;
}
