body {
  margin:0;
  padding:10px;
  font-family: 'Basetica-Regular', sans-serif;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #2C328C;
}

p, li {
  line-height: 1.5em;
}

video {
  max-width: 800px;
  width: 100%;
}

.screenshot {
  max-width: 800px;
  width: 100%;
}

ul#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul#nav div {
  display: inline-block;
}

ul#nav div div#nav-item {
  background-color: #e7e5e1;
  display: inline-block;
  padding: 5px;
  margin: 5px;
}

h1#site-title {
  margin: 10px;
  text-align: center;
}

#site-title-link {
  text-decoration: none;
  color: #FF3333;
}

.error-message {
  padding: 10px;
  border: 1px solid red;
  background-color: #FF8888;
  text-align: center;
}

.known-issues {
  background-color: #FFBBBB;
  padding: 5px;
  margin: -5px;
}

#alert {
  border: 2px solid #ff3333;
  padding: 10px;
}
