body {
  margin:0;
  padding:10px;
  font-family: 'Ariel', sans-serif;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #2C328C;
}

p, li {
  line-height: 1.5em;
}

video {
  max-width: 800px;
  width: 100%;
}

.screenshot {
  max-width: 800px;
  width: 100%;
}

div#app {
  display: none;
}

h1#site-title {
  margin: 10px;
  text-align: center;
}

ul#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul#nav a {
  color: #000;
}

ul#nav div {
  display: inline-block;
}

ul#nav div div#nav-item {
  background-color: #e7e5e1;
  display: inline-block;
  padding: 5px;
  margin: 5px;
}

#site-title-link {
  text-decoration: none;
  color: #FF3333;
}

.error-message {
  padding: 10px;
  border: 1px solid red;
  background-color: #FF8888;
  text-align: center;
}

.known-issues {
  background-color: #FFBBBB;
  padding: 5px;
  margin: -5px;
}

ul#known-issues li {
  margin-bottom: 1em;
}

.alert {
  border: 2px solid #ff3333;
  padding: 10px;
}

.help-image {
  max-width: 800px;
}



/* From badge-directory/index.html */

#main-container {margin-top: -30px; display: block; overflow: auto;}
#badges {
  margin-top: -30px;
  display: block;
  overflow: auto;
}

#badges-list {
  display: block;
}

 #activities-list {margin: 0 0 10px;}

 .mouse-activity {
   width: 243px;
   display:inline-block;
   margin: 10px;
   vertical-align: top;

 }

 .mouse-activity img {
   width: 100%;
   display: block;

 }
 .mouse-activity ul li {
   margin: .25em;
 }
 .mouse-activity a:hover, .mouse-activity img:hover, .mouse-categories:hover {background: #e3e3e3;}

 .mouse-categories {width: 30.3333%; float: left; display: block; text-align: center; margin-bottom:50px;}


/* Apps Picker */

#apps {
  width: 80%;
}
#apps a {
  text-decoration: none;
  color: #000;
}

.app-thumb {
  display: inline-block;
  vertical-align: top;
  padding: 1em;
  cursor: pointer;
}

.app-thumb img{
  display: inline-block;
  width: 100%;
  max-width: 200px;
  padding: 2px;
}

.app-thumb img:hover {
  padding: 0;
  border: 2px solid #DDD;
}

.app-name {
  max-width: 200px;
  height: 3em;
  display: block;
}

#apps {
  text-align: center;
}
