* {
  font-size: 24px;
  line-height: 130%;
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

#main {
  width: 90%;
  margin: 1em 5% 0;
}

#img-header {
  width: 50%;
  margin: auto;
  display: block;
}

#gear-animation {
  float: left;
  width: 15%;
  margin-top: 1em;
}

#announcement {
  margin: auto;
  width: 60%;
  display: block;
}